.button {
    display: inline-block;
    padding: 4px 40px;

    color: var(--white-color);
    font-family: inherit;
    font-weight: 700;
    line-height: 45px;
    background: var(--accent-color);
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    &__hero {
        margin-bottom: 68px;
        align-self: flex-start;
    }
    &__info {
        padding: 14px 48px;
        margin: 0 auto;
        line-height: 18px;       
    }
    &__application {
        padding: 16px 82px;
        margin: 0 auto;
        line-height: 18px;   
    }
}

