.button {
    display: inline-block;
    padding: .25rem 2.625rem;

    color: var(--white-color);
    font-family: inherit;
    font-weight: 700;
    line-height: 2.8125rem;
    background: var(--accent-color);
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    &__hero {
        margin-bottom: 4.25rem;
        align-self: flex-start;
    }
    &__info {
        order: 4;
        padding: .875rem 3rem;
        margin: 0 auto;
        line-height: 1.125rem;       
    }
    &__application {
        padding: 1rem 5.125rem;
        margin: 0 auto;
        line-height: 1.125rem;   
    }
}

