.footer {
    background: #363636;
    &__wrap {
        padding: 3.75rem 2.375rem 5rem 2.375rem;
    }
    &__menu {
        position: relative;
        padding: 0 .75rem 11.25rem .75rem; 
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 88px;
            height: 100px;
            background-image: url("../../icons/emblem.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }        
    }
    &__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3.25rem;
        margin-bottom: 3rem;
    }
    &__bottom {
        padding: 2.3125rem 2.5625rem 2.375rem 2.375rem;
        display: flex;
        justify-content: center;

        color: #FFF;
        font-family: Raleway;
        font-size: .5rem;
        font-weight: 500;
        line-height: 1.25rem;
        text-transform: uppercase;
        background: #252525;
        &-right {
            position: relative;
            padding-left: 8px;
            &::before {
                content: '';
                position: absolute;
                left: 2px;
                top: 6px;  
                width: 100%;
                height: 100%;  
                background-image: url("../../icons/hexagon.svg");
                background-repeat: no-repeat;
                background-size: 6px 8px;
            }
        }
    }
}

.news {
    display: flex;
    flex-wrap: wrap;
    width: 299px;
    height: 295px;
    margin: 0 auto;
    margin-bottom: 60px;
    &__header {
        display: flex;
        align-items: center;
        &-left {
            padding: 11px;
            background: #5634D1;
        }
        &-right {
            padding: 11px 112px 11px 16px;
            color: var(--white-color);
            background: var(--main-color);
        }
    }
    &__name {
        margin-bottom: 2px;
        font-size: 22px;
        font-weight: 600;
        line-height: 18px; 
        letter-spacing: .176px;
    }
    &__place {
        line-height: 18px;
        letter-spacing: -0.112px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 20px 48px 19px 31px;
        background: var(--white-color);
        font-size: 13px;
        line-height: 18px;
    }
    &__item:last-child {
        display: flex;
        flex-wrap: wrap;
        gap: .25rem;
        align-items: center;
    } 
    &__text {
        margin-bottom: 2px;
        color: #999;
        letter-spacing: -0.2608px;
    }
    &__link {
        display: block;
        margin-bottom: 4px;
        color: var(--main-color);
    }
    &__data {
        color: #555;
        font-size: 11px;
        letter-spacing: -0.0069rem;
    }  
}

.nav,
.contact {
    &__wrap {
        display: flex;
        flex-direction: column;
        width: 29.333vw;
        align-items: center;
    }
    &__title {
        position: relative;
        padding-left: 1.625rem;
        margin-bottom: .75rem;
        color: var(--accent-color);
        font-size: .875rem;
        font-weight: 700;
        line-height: 1.25rem;
        text-transform: uppercase;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;       
            width: 18px;
            height: 20px;        
            background-image: url("../../icons/hexagon.svg");
            background-repeat: no-repeat;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: .375rem;
    }
    &__link {
        color: var(--white-color);
        font-weight: 600;
        line-height: 1.125rem;
        text-transform: uppercase;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    margin: 0 auto;
    &__title {
        margin-bottom: 1.3125rem;        
    }
    &__list {
        gap: .4375rem;
    }    
    &__item {
        display: flex;
        gap: .9375rem;
    }
    &__text {
        color: var(--white-color);
        font-weight: 600;
        line-height: 1.125rem;
        text-transform: uppercase;
    }
    &__link {
        line-height: 1.125rem;
        text-transform: lowercase;
    }
}



