.hero {
    position: relative;
    margin-top: -106px;
    background-color: var(--main-color);
    background-image: url("../../img/bg-min.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white-color);
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../icons/hero-bottom-max.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;   
    }  
    &__wrap {
        display: flex;
        flex-direction: column;
        padding: 8.3125rem 1.75rem 3.3125rem 1.75rem;     
    }
    &__text {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 9.3125rem;
        width: 84vw;
        &::before {
            content: '';
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            width: 100px;
            min-height: 84px;
            background-image: url("../../icons/twitter.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }   
    }
    &__title {
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;
    }
    &__descr {
        margin-bottom: 1.6875rem;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.25rem;
    }
    &__call {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.1875rem;
        margin: 0 auto;

        font-size: .8125rem;
        font-weight: 700;
        line-height: 1.25rem;

    }
}

.swiper {
    width: 100%;
    &-pagination {
        display: none;
    }
    &-scrollbar {
        display: none;
    }
}


