.stats {
    &__wrap {
        padding: 80px 84px 100px 84px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 4.25rem;
        text-align: center;
    }
    &__title {
        margin-bottom: .75rem;
        font-size: 2.625rem;
        font-weight: 700;
        line-height: 3.125rem;
    }
    &__descr {
        font-size: .8125rem;
        font-weight: 700;
        line-height: 1rem;
        text-transform: uppercase;
        letter-spacing: -0.0163rem;
    }
}